* {
  margin: 0;
  padding: 0;
  font-family: "oswald", sans-serif;
}

:root {
  --morado-oscuro: #8600d8;
  --rosa-intenso: #f113a8;
  --azul-electrico: #113bf4;
  --azul-cielo: #00edff;
}

body {
  background: radial-gradient(
    circle,
    rgba(34, 34, 34, 1) 15%,
    rgba(17, 17, 17, 1) 100%
  );
}

.navbar {
  background-image: linear-gradient(
    160deg,
    var(--azul-electrico) 0%,
    var(--morado-oscuro) 100%
  );
  color: #fff;
  padding: 15px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 10px;
}

.brand {
  font-size: 24px;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: black;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* todo tamaño y sección se ajustará cuando trabajemos en la página completa, varía del grid y responsive, por lo mismo, dejo el código acá sabiendo que podremos emplearlo en otra página */

.cards-section {
  width: 80%;
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 310px;
  height: 410px;
  background-image: linear-gradient(
    180deg,
    var(--azul-cielo) 0%,
    var(--azul-electrico) 30%,
    var(--morado-oscuro) 60%,
    var(--rosa-intenso) 100%
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: #8600d8 0px 0px 50px;
}
.card__container {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border: 1px solid var(--morado-oscuro);
}

.card__title {
  color: white;
  text-shadow: -2px 1px 3px var(--morado-oscuro);
  text-transform: uppercase;
}

/* cierro card section */

@media screen and (max-width: 768px) {
  .container {
    min-height: 80px;
  }
  .navbar-links {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }
  .hamburger-menu {
    display: flex;
  }
}
