.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem 4rem;
  /* text-align: center; */
}

.contact h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  resize: vertical;
}

.form-group select {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif, system-ui;
  width: 50%;
}

form button {
  background-color: #8000ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #5a00b2;
}

.error {
  border: 2px solid var(--rojo);
}
.error-message {
  color: var(--rojo);
  font-size: 0.9em;
  margin-top: 5px;
}
