body {
  background: radial-gradient(circle at center, #333, #000);
  font-family: "oswald", sans-serif;
}

:root {
  --morado-oscuro: #8600d8;
  --rosa-intenso: #f113a8;
  --azul-electrico: #113bf4;
  --azul-cielo: #00edff;
}

/* navegation */
header {
  width: 100%;
}
.navbar {
  background: linear-gradient(to right, #113bf4, #8600d8, #f113a8);
  color: #fff;
  padding: 15px 0;
}

.container-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 10px;
}

.brand {
  font-size: 24px;
}

.navbar-links {
  display: flex;
  row-gap: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: black;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

p,
label,
li,
h1,
h2,
h3,
h4,
h5 {
  color: whitesmoke;
}

hr {
  width: 100%;
  border: 1px solid var(--azul-electrico);
}
