body {
    background: radial-gradient(circle at center, #333, #000);
    font-family: "oswald", sans-serif;
  }
  
  :root {
    --morado-oscuro: #8600d8;
    --rosa-intenso: #f113a8;
    --azul-electrico: #113bf4;
    --azul-cielo: #00edff;
    --blanco: #f5f5f5;
  }
  
  /* navegation */
  header {
    width: 100%;
  }
  .navbar {
    background: linear-gradient(to right, #113bf4, #8600d8, #f113a8);
    color: #fff;
    padding: 15px 0;
  }
  
  .container-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .brand {
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    row-gap: 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: black;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  p,
  label,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: whitesmoke;
  }

  /* Desktop Styles */
@media(min-width: 768px) {
  .navbar {
      flex-direction: row;
      justify-content: space-between;
  }

  .hamburger-menu {
      display: none;
  }

  .navbar-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
  }

  .navbar-links a {
      padding: 0 15px;
  }

  .feature {
      width: 30%;
      margin: 15px;
  }
}
