main {
  width: 100%;
}

main,
#Billboard,
#carousel-1,
#carousel-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

#Billboard,
#carousel-1,
#carousel-2 {
  width: 90%;
}

.titles-sections {
  text-align: center;
  padding: 30px 0px 0px 0px;
  -webkit-text-stroke: 1px black;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--blanco);
}

/* intro-home section */
.billboard-home {
  gap: 20px;
  height: 50%;
  width: 90%;
}
.grid-container {
  height: 100%;
  width: 100%;
}
.billboard-home-img {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid;
  border-image-source: linear-gradient(
    180deg,
    var(--morado-oscuro),
    var(--rosa-intenso),
    var(--azul-electrico),
    var(--azul-cielo)
  );
  border-image-slice: 1;
  transition: border 0.5s ease-in-out;
  cursor: pointer;
}

.billboard-home-img:hover {
  border-image-source: linear-gradient(
    90deg,
    var(--azul-cielo),
    var(--morado-oscuro),
    var(--rosa-intenso),
    var(--azul-electrico)
  );
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.billboard-home-img.active {
  display: block;
}

/* carousel-section */
.carousel,
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-container {
  height: 260px;
  width: 100%;
}

.carousel {
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  gap: 25px;
  padding-left: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.offer-card,
.card {
  position: relative;
  height: 225px;
  width: 168.75px;
  color: white;
  cursor: pointer;
}
.offer-card:hover,
.card:hover {
  transition: ease 0.3s;
  transform: scale(1.1);
}
.cover {
  height: 75%;
  width: 100%;
  object-fit: cover;
}
.description {
  position: absolute;
  background: linear-gradient(to bottom, var(--azul-electrico), black);
  height: 25%;
  width: 100%;
  bottom: 0;
}
.title-card {
  width: 70%;
  word-wrap: break-word;
  text-align: left;
  position: absolute;
  font-size: 0.8rem;
  left: 0;
  top: 10%;
  margin-left: 5px;
}
.price {
  font-size: 0.9rem;
  color: #00edff;
  position: absolute;
  right: 0;
  bottom: 15%;
  margin-right: 10px;
}
/* elementos de oferta */
.discount-tag {
  position: absolute;
  background-color: #f113a8;
  -webkit-text-stroke: black 0.5px;
  font-size: 1.4rem;
  bottom: 100%;
  padding: 3px;
  border-radius: 0px 10px 10px 0;
}
.discount-price {
  text-decoration: line-through;
  font-size: 0.7rem;
  color: gray;
  position: absolute;
  right: 0;
  bottom: 50%;
  margin-right: 10px;
}
/* ------------------- */

/* bordes */
.offer-card,
.card {
  border-radius: 20px 20px 20px 0;
}
.cover {
  border-radius: 20px 20px 0px 0;
}
.description {
  border-radius: 0 0 20px 0;
}
/* ------------- */
.prevBtn,
.nextBtn {
  display: none;
  font-size: 5rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 576px) {
  .billboard-home {
    height: 50%;
    width: 65%;
  }
}

@media (min-width: 769px) {
  #Billboard,
  #carousel-1,
  #carousel-2 {
    width: 80%;
  }

  .titles-sections {
    font-size: 2rem;
  }

  .billboard-home {
    height: 30%;
    width: 75%;
  }

  .billboard-home-img {
    display: block;
  }
  .grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "area1 area1 area2 area2 area4 area4 area4"
      "area1 area1 area3 area3 area4 area4 area4";
  }
  .img-1 {
    grid-area: area1;
  }
  .img-2 {
    grid-area: area2;
  }
  .img-3 {
    grid-area: area3;
  }
  .img-4 {
    grid-area: area4;
  }
  .carousel-container {
    width: 80%;
  }
  .carousel {
    width: 100%;
  }
  .prevBtn,
  .nextBtn {
    display: block;
  }
  .btn-carousel {
    background-image: radial-gradient(circle, black, var(--morado-oscuro) 90%);
    border-radius: 50%;
    color: white;
    font-size: 2.6rem;
    margin: 25px;
  }
  .btn-carousel:hover {
    transform: scale(1.2);
    background-image: radial-gradient(circle, black, var(--azul-electrico) 90%);
    transition: all 0.3s;
  }
}
/* --------------- */
